@import "tailwindcss";

/* Theme Toggle CSS Solution */
[data-mantine-color-scheme="dark"] .theme-icon-sun {
  display: block;
}
[data-mantine-color-scheme="dark"] .theme-icon-moon {
  display: none;
}
[data-mantine-color-scheme="light"] .theme-icon-sun {
  display: none;
}
[data-mantine-color-scheme="light"] .theme-icon-moon {
  display: block;
}